<div class="card my-3 p-3 bg-white">
  <div class="container">
      <h3><%= @cocktail.name %></h3>
      <% @cocktail.doses.each do |dose| %>
      <p><%= dose.description %>: <%= dose.ingredient.name %>
        <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, dose_path(dose), method: :delete%>
      </p>
      <% end %>
      <p><%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
      </p>
</div>
</div>
